@font-face {
  font-family: 'Chunkfive';
  font-style: normal;
  font-weight: 400;
  src: local('Chunkfive'), url(https://img1.wsimg.com/blobby/go/font/Chunkfive/Chunkfive.woff2) format('woff2'), url(https://img1.wsimg.com/blobby/go/font/Chunkfive/Chunkfive.woff) format('woff');
}
