@font-face {
  font-family: 'Windsong';
  font-style: normal;
  font-weight: 400;
  src: local('Windsong'), url(https://img1.wsimg.com/blobby/go/font/windsong/windsong.woff2) format('woff2'), url(https://img1.wsimg.com/blobby/go/font/windsong/windsong.woff) format('woff');
}